<ion-view title="General">

    <ion-content scroll="false">
        <div class="row" style="padding-top: 0px;padding-bottom: 0px">

            <progress id="progressbar" max="100" value="100" class="progress"></progress>
        </div>
        <ion-scroll direction="y" class="theroot">
            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    1. How many levels does your school have?
                </div>


                <label class="item item-input item-select">
                    <div class="input-label fs-12">
                        Lowest level of grade:
                    </div>
                    <select class="fs-12">
                        <option selected>Please Choose</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>

                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label fs-12">
                        Highest level of grade:
                    </div>
                    <select class="fs-12">
                        <option selected>Please Choose</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>

                    </select>
                </label>

                <!-- <div class="list ">

                    <ion-list>

                        <label class="item item-input" style="height: 100px">
    <textarea placeholder="Answer here!"></textarea>
  </label>
                    </ion-list>
                </div> -->

            </div>
            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    2. Is your school single gender or mixed gender?
                </div>


                <div class="row ">

                    <div class="col fs-12">
                        <input type="radio" ng-model="choice22" ng-value="'e'" name="b">&nbsp;<span
                            style="position:absolute"> Only boys</span>
                    </div>
                    <div class="col fs-12">
                        <input type="radio" ng-model="choice32" ng-value="'f'" name="b">&nbsp;<span
                            style="position:absolute">Only girls</span>
                    </div>
                    <div class="col col-50 fs-12">
                        <input type="radio" ng-model="choice22" ng-value="'e'" name="b">&nbsp;<span
                            style="position:absolute">Mixed/Co-education</span>
                    </div>
                </div>

            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    3. Which board of education does the school follow ?
                </div>


                <ion-item class="fs-14 item-text-wrap">
                    <input type="radio" ng-model="choice4" ng-value="'p'" name="e"><span style="position:absolute">&nbsp;State board of education (please specify your state)</span>
                </ion-item>
                <ion-item class="fs-14 item-text-wrap">
                    <input type="radio" ng-model="choice3" ng-value="'q'" name="e"><span style="position:absolute">&nbsp;Central Board of Secondary Education</span>
                </ion-item>
                <ion-item class="fs-14 item-text-wrap">
                    <input type="radio" ng-model="choice2" ng-value="'r'" name="e"><span style="position:absolute">&nbsp;Indian Certificate of Secondary Education</span>
                </ion-item>
                <ion-item class="fs-14 item-text-wrap">
                    <input type="radio" ng-model="choice1" ng-value="'s'" name="e"><span style="position:absolute; ">&nbsp;International Baccalaureate (IB)/ International  General Certificate of Secondary Education (IGCSE) combination</span>
                </ion-item>
                <ion-item class="fs-14 item-text-wrap">
                    <input type="radio" ng-model="choice2" ng-value="'r'" name="e"><span style="position:absolute">&nbsp;other
    <input type="text" placeholder="First Name">
  </span>
                </ion-item>

            </div>
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    4(b). How many visitors visit your school ?
                </div>

                <div class="list ">

                    <ion-list>

                        <label class="item item-input">
                            <input type="number" placeholder="Answer here!"></textarea>
                        </label>
                    </ion-list>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    5. What is the total number of working days of your school in a year?
                </div>

                <div class="list ">

                    <ion-list>

                        <label class="item item-input">
                            <input type="number" placeholder="Answer here!"></textarea>
                        </label>
                    </ion-list>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    7. Where is the school located??
                </div>


                <div class="row ">

                    <div class="col fs-12">
                        <input type="radio" ng-model="choice22" ng-value="'e'" name="b">&nbsp;<span
                            style="position:absolute"> Urban Area</span>
                    </div>
                    <div class="col fs-12">
                        <input type="radio" ng-model="choice32" ng-value="'f'" name="b">&nbsp;<span
                            style="position:absolute">Rural Area</span>
                    </div>

                </div>

            </div>


            <!-- <div class="card">
                <div class="item item-text-wrap">
                    4. question text here ?
                </div>


                <label class="item item-input item-select ">
    <div class="input-label txt-align">
        &nbsp;
    </div>
    <select>
        <option selected>Default</option>
        <option >Green</option>
        <option>Red</option>
        <option >Green</option>
        <option>Red</option>
    </select>
</label>
            </div> -->


            <div class="list card">
                <!--||question.id==numberOfQuestions-1-->
                <div class="button-bar">

                    <a class="button background-color text-white" ng-hide="question.id==numberOfQuestions-1"
                       ion-chevron-right nav-clear ng-click="home()">NEXT</a>
                    <!-- ng-click="quiz2()" -->
                    <!--  <a class="button background-color text-white" ng-show="question.id>=numberOfQuestions-1" ion-chevron-right nav-clear href="#/tab/results">COMPLETE</a> -->
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>
