        <ion-view title="Food">
        
    <ion-content scroll="false">
        <div class="row" style="padding-top: 0px;padding-bottom: 0px">

            <progress id="progressbar" max="100" value="33.3" class="progress"> </progress>
        </div>
        <div class="button-bar">
                <script type="text/javascript">
                    function loadFrame()
                    {
                        var x = document.getElementById("iframeair");
                        //x.style.visibility = 'hidden'; 
                        x.innerHTML = '<iframe src="https://www.youtube.com/embed/klen-TOrXFA" frameborder="0" allowfullscreen></iframe>'
                    }
                </script>
                    <a class="button background-color text-white" ng-hide="question.id==numberOfQuestions-1" ion-chevron-right nav-clear onclick="loadFrame()">View Tutorial</a>
                    <!-- ng-click="quiz2()" -->
                    <!--  <a class="button background-color text-white" ng-show="question.id>=numberOfQuestions-1" ion-chevron-right nav-clear href="#/tab/results">COMPLETE</a> -->
                </div>
        <ion-scroll direction="y" class="theroot">
        <div class="list" style="margin-left: 5px;margin-right: 5px">
               <strong>Task 1: Choose your Food Audit Team</strong><br>
             You would require at least 5 to 10 of your schoolmates in the Food audit team. The teacher co-ordinator may be a science or home science teacher or midday meal in-charge with an interest in food and nutrition. Do include the canteen in-charge in your audit team.
 
           </div>

           <div class="card">
                <div class="item item-text-wrap item-borderless">
                    Teachers (maximum of three teachers can be part of the team):
                </div>
                <div class="row ">
                    <div class="col col-10">1</div>
                    <div class="col">
                        <input ng-model="food.Q1F1S1" name="oneName" class="textbox" style="border:1px solid #111;text-align: center;" type="text" id="foodoneName">
                    </div>
                    <div class="col">
                        <input ng-model="food.Q1F1S2" class="textbox" style="border:1px solid #111;text-align: center;" type="text" id='foodoneEmail'>
                    </div>
                </div>

                <div class="row ">
                    <div class="col col-10">2</div>
                    <div class="col"><input ng-model="food.Q1F2S1" class="textbox" style="border:1px solid #111;text-align: center;" type="text" id='foodtwoName'></div>
                    <div class="col"><input ng-model="food.Q1F2S2" class="textbox" style="border:1px solid #111;text-align: center;" type="text" id='foodtwoEmail'></div> 
                </div>
            

                <div class="row ">
                    <div class="col col-10">3</div>
                    <div class="col"><input ng-model="food.Q1F3S1" class="textbox" style="border:1px solid #111;text-align: center;" type="text" id='foodthreeName'></div>
                    <div class="col"><input ng-model="food.Q1F3S2" class="textbox" style="border:1px solid #111;text-align: center;" type="text" id='foodthreeEmail'></div> 
                </div>
            </div>


             <div class="card">
                <div class="item item-text-wrap item-borderless">
                   Administrative staff (maximum of five staff can be part of the team):
                </div>

                <div class="row ">
                 <div class="col col-10"></div>
                 <div class="col">Name</div>
                 <div class="col">  Email id</div>
                </div>

                 <div class="row ">
                 <div class="col col-10">1</div>
                 <div class="col"><input ng-model="food.Q2F1S1" id='questionfoodtwoOneName' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q2F1S2" id='questionfoodtwoOneEmail' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                 <div class="row ">
                 <div class="col col-10">2</div>
                 <div class="col"><input ng-model="food.Q2F2S1" id='questionfoodtwoTwoName' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q2F2S2" id='questionfoodtwoTwoEmail' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div> 
                </div>
            

            <div class="row ">
                 <div class="col col-10">3</div>
                 <div class="col"><input ng-model="food.Q2F3S1" id='questionfoodtwoThreeName' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q2F3S2" id='questionfoodtwoThreeEmail' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div> 
                </div>

                <div class="row ">
                 <div class="col col-10">4</div>
                 <div class="col"><input ng-model="food.Q2F4S1" id='questionfoodtwoFourName' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q2F4S2" id='questionfoodtwoFourEmail' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div> 
                </div>

                <div class="row ">
                 <div class="col col-10">5</div>
                 <div class="col"><input ng-model="food.Q2F5S1" id='questionfoodtwoFiveName' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q2F5S2" id='questionfoodtwoFiveEmail' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div> 
                </div>
            </div>


             <div class="card">
                <div class="item item-text-wrap item-borderless">
                   Students (maximum of ten students can be part of the team):
                </div>

                <div class="row ">
                 <div class="col col-10"></div>
                 <div class="col">Name</div>
                 <div class="col"> Email id</div>
                 <div class="col"> Grade/Class</div>
                </div>

                 <div class="row ">
                 <div class="col col-10">1</div>
                 <div class="col"><input ng-model="food.Q3F1S1" id='questionfoodthreeOneName' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F1S2" id='questionfoodthreeOneEmail' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F1S3" id='questionfoodthreeOneGrade' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                 <div class="row ">
                 <div class="col col-10">2</div>
                 <div class="col"><input ng-model="food.Q3F2S1" id='questionfoodthreeTwoName' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F2S2" id='questionfoodthreeTwoEmail' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div> 
                 <div class="col"><input ng-model="food.Q3F2S3" id='questionfoodthreeTwoGrade' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>
            

            <div class="row ">
                 <div class="col col-10">3</div>
                 <div class="col"><input ng-model="food.Q3F3S1" id='questionfoodthreeThreeName' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F3S2" id='questionfoodthreeThreeEmail' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div> 
                 <div class="col"><input ng-model="food.Q3F3S3" id='questionfoodthreeThreeGrade' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                 <div class="col col-10">4</div>
                 <div class="col"><input ng-model="food.Q3F4S1" id='questionfoodthreeFourName' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F4S2" id='questionfoodthreeFourEmail' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div> 
                 <div class="col"><input ng-model="food.Q3F4S3" id='questionfoodthreeFourGrade' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                 <div class="col col-10">5</div>
                 <div class="col"><input ng-model="food.Q3F5S1" id='questionfoodthreeFiveName' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F5S2" id='questionfoodthreeFiveEmail' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F5S3" id='questionfoodthreeFiveGrade' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div> 
                </div>

                <div class="row ">
                 <div class="col col-10">6</div>
                 <div class="col"><input ng-model="food.Q3F6S1" id='questionfoodthreeSixName' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F6S2" id='questionfoodthreeSixEmail' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F6S3" id='questionfoodthreeSixGrade' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div> 
                </div>

                <div class="row ">
                 <div class="col col-10">7</div>
                 <div class="col"><input ng-model="food.Q3F7S1" id='questionfoodthreeSevenName' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F7S2" id='questionfoodthreeSevenEmail' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F7S3" id='questionfoodthreeSevenGrade' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div> 
                </div>

                <div class="row ">
                 <div class="col col-10">8</div>
                 <div class="col"><input ng-model="food.Q3F8S1" id='questionfoodthreeEightName' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F8S2" id='questionfoodthreeEightEmail' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F8S3" id='questionfoodthreeEightGrade' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div> 
                </div>

                <div class="row ">
                 <div class="col col-10">9</div>
                 <div class="col"><input ng-model="food.Q3F9S1" id='questionfoodthreeNineName' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F9S2" id='questionfoodthreeNineEmail' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F9S3" id='questionfoodthreeNineGrade' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div> 
                </div>

                <div class="row ">
                 <div class="col col-10">10</div>
                 <div class="col"><input ng-model="food.Q3F10S1" id='questionfoodthreeTenName' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F10S2" id='questionfoodthreeTenEmail' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q3F10S3" id='questionfoodthreeTenGrade' class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div> 
                </div>
            </div>



          <div class="padding-bottom content fs-16">
          
                 Task 2: Find out about the food service in your school?
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    1.Does your school have a provision/space to sell packaged food items within the campus?
                </div>


                <div class="row ">

                    <div class="col fs-12">
                        <input ng-model="food.Q4F1" id="questionfoodfour" type="radio" ng-value="'Y'" name="a">&nbsp;<span style="position:absolute"> Yes</span>
                    </div>
                    <div class="col fs-12">
                        <input ng-model="food.Q4F1" id="questionfoodfour" type="radio" ng-value="'N'" name="a">&nbsp;<span style="position:absolute">No</span>
                    </div>
                    
                </div>

            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    2.  Does your school serve midday meals?
                </div>
                 <div class="row " style="padding-left: 20px">

                    <div class="col fs-12">
                        <input ng-model="food.Q5F1" id="questionfoodfive" type="radio" ng-value="'Y'" name="b">&nbsp;<span style="position:absolute"> Yes</span>
                    </div>
                    <div class="col fs-12">
                        <input ng-model="food.Q5F1" id="questionfoodfive" type="radio" ng-value="'N'" name="b">&nbsp;<span style="position:absolute">No</span>
                    </div>
                    
                </div>

            </div>
             <div class="list" style="margin-left: 5px;margin-right: 5px">
                <strong>Please upload picture of Mid-day meal being served</strong><br>
              <input ng-model="food.QF2S1" type="file" id="questionfoodsix">
            </div>

              <div class="list" style="margin-left: 5px;margin-right: 5px">
              <strong> Task 3: What kind of food is served/sold in your school </strong>
           
             </div>


            <div class="card">
                <div class="item item-text-wrap item-borderless">
                  3. What kind of food is being served / sold in your school
                </div>

                <div class="row ">
                 <div class="col">Packaged food items served / sold inside school campus</div>
                 <div class="col">    Please count all flavours/variants available in the school separately</div>
                 <div class="col">  Total no. of items sold, on an average, in a month</div>
                 <div class="col">  Month the food items were sold in</div>
                </div>

                 <div class="row ">
                 <div class="col">Savoury snacks and similar packaged food like chips, Kurkure, Cheetos, potato crisps, corn snacks, nuts and seeds, etc</div>
                 <div class="col"><input ng-model="food.Q6F1S1" id="questionfoodsevenOnePlease" class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q6F1S2" id="questionfoodsevenOneTotal" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                  <div class="col"><input ng-model="food.Q6F1S3" id="questionfoodsevenOneMonth" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                </div>

                 <div class="row ">
                 <div class="col">Instant Noodles like Knorr, Cup-a-noodles, Top Ramen, Wai-wai, Yippee, Foodles, Maggi, etc</div>
                 <div class="col"><input ng-model="food.Q6F1S1" id="questionfoodsevenTwoPlease" class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q6F2S2" id="questionfoodsevenTwoTotal" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                  <div class="col"><input ng-model="food.Q6F2S3" id="questionfoodsevenTwoMonth" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                </div>
            

            <div class="row ">
                 <div class="col">Potato fries and burgers</div>
                <div class="col"><input ng-model="food.Q6F3S1" id="questionfoodsevenThreePlease" class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q6F3S2" id="questionfoodsevenThreeTotal" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                  <div class="col"><input ng-model="food.Q6F3S3" id="questionfoodsevenThreeMonth" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                </div>

                <div class="row ">
                 <div class="col">Confectionery items (chocolate, candies, gums)</div>
                <div class="col"><input ng-model="food.Q6F4S1" id="questionfoodsevenFourPlease" class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q6F4S2" id="questionfoodsevenFourTotal" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                  <div class="col"><input ng-model="food.Q6F4S3" id="questionfoodsevenFourMonth" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                </div>

                <div class="row ">
                 <div class="col">Ice cream</div>
                <div class="col"><input ng-model="food.Q6F5S1" id="questionfoodsevenFivePlease" class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q6F5S2" id="questionfoodsevenFiveTotal" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                  <div class="col"><input ng-model="food.Q6F5S3" id="questionfoodsevenFiveMonth" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                </div>

                <div class="row ">
                 <div class="col">Carbonated beverages</div>
                <div class="col"><input ng-model="food.Q6F6S1" id="questionfoodsevenSixPlease" class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q6F6S2" id="questionfoodsevenSixTotal" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                  <div class="col"><input ng-model="food.Q6F6S3" id="questionfoodsevenSixMonth" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                </div>

                <div class="row ">
                 <div class="col">Sugar sweetened non-carbonated beverages</div>
                <div class="col"><input ng-model="food.Q6F7S1" id="questionfoodsevenSevenPlease" class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q6F7S2" id="questionfoodsevenSevenTotal" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                  <div class="col"><input ng-model="food.Q6F7S3" id="questionfoodsevenSevenMonth" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                </div>

                <div class="row ">
                 <div class="col">Packaged/bottled nimboo paani/lassi/flavoured milk</div>
                <div class="col"><input ng-model="food.Q6F8S1" id="questionfoodsevenEightPlease" class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q6F8S2" id="questionfoodsevenEightTotal" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                  <div class="col"><input ng-model="food.Q6F8S3" id="questionfoodsevenEightMonth" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                </div>

                <div class="row ">
                 <div class="col">Packaged/bottled energy drinks</div>
                <div class="col"><input ng-model="food.Q6F9S1" id="questionfoodsevenNinePlease" class="textbox" style="border:1px solid #111;text-align: center;" type="text"></div>
                 <div class="col"><input ng-model="food.Q6F9S2" id="questionfoodsevenNineTotal" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                  <div class="col"><input ng-model="food.Q6F9S3" id="questionfoodsevenNineMonth" class="textbox" style="border:1px solid #111;text-align: center;" type="text" ></div>
                </div>


            </div>


             <div class="list" style="margin-left: 5px;margin-right: 5px">
                <strong>Please upload picture of canteen selling UPPF (ultra-processed packaged food)</strong><br>
              <input ng-model="food.F9S1" type="file" id="questionfoodeight" >
            </div>




            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    4. Does your school serve traditional Indian snacks?
                </div>
                 <div class="row " style="padding-left: 20px">

                    <div class="col fs-12">
                        <input ng-model="food.Q7F1" id="questionfoodnine" type="radio" ng-value="'Y'" name="c">&nbsp;<span style="position:absolute"> Yes</span>
                    </div>
                    <div class="col fs-12">
                        <input ng-model="food.Q7F1" id="questionfoodnine" type="radio" ng-value="'N'" name="c">&nbsp;<span style="position:absolute">No</span>
                    </div>
                    
                </div>

            </div>
            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    5. Does your school serve traditional Indian beverages?
                </div>
                 <div class="row " style="padding-left: 20px">

                    <div class="col fs-12">
                        <input ng-model="food.Q8F1" id="questionfoodten" type="radio"  ng-value="'Y'" name="d">&nbsp;<span style="position:absolute"> Yes</span>
                    </div>
                    <div class="col fs-12">
                        <input ng-model="food.Q8F1" id="questionfoodten" type="radio"  ng-value="'N'" name="d">&nbsp;<span style="position:absolute">No</span>
                    </div>
                    
                </div>

            </div>

            <div class="padding-bottom content fs-16">
          
               Task 4: What kind of food does your school promote?
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    6.Does the school distribute packaged food items as rewards during schools events?
                </div>


                <div class="row " style="padding-left: 20px">

                    <div class="col fs-12">
                        <input ng-model="food.Q9F1" id="questionfoodeleven" type="radio"  ng-value="'Y'" name="e">&nbsp;<span style="position:absolute"> Yes</span>
                    </div>
                    <div class="col fs-12">
                        <input ng-model="food.Q9F1" id="questionfoodeleven" type="radio"  ng-value="'N'" name="e">&nbsp;<span style="position:absolute">No</span>
                    </div>
                    
                </div>

            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    7. Does the school distribute chocolates/similar products as refreshments during schools events?
                </div>
                 <div class="row " style="padding-left: 20px">

                    <div class="col fs-12">
                        <input ng-model="food.Q10F1" id="questionfoodtwelve" type="radio"  ng-value="'Y'" name="f">&nbsp;<span style="position:absolute"> Yes</span>
                    </div>
                    <div class="col fs-12">
                        <input ng-model="food.Q10F1" id="questionfoodtwelve" type="radio"  ng-value="'N'" name="f">&nbsp;<span style="position:absolute">No</span>
                    </div>
                    
                </div>

            </div>
             <div class="card">
                <div class="item item-text-wrap item-borderless">
                     8. Are your school events such as quiz shows, talent shows, debates sponsored by food companies/brands?
                </div>
                 <div class="row " style="padding-left: 20px">

                    <div class="col fs-12">
                        <input ng-model="food.Q11F1" id="questionfoodthirteen" type="radio"  ng-value="'Y'" name="g">&nbsp;<span style="position:absolute"> Yes</span>
                    </div>
                    <div class="col fs-12">
                        <input ng-model="food.Q11F1" id="questionfoodthirteen" type="radio" ng-value="'N'" name="g">&nbsp;<span style="position:absolute">No</span>
                    </div>
                    
                </div>

            </div>
             <div class="list" style="margin-left: 5px;margin-right: 5px">
                <strong>Please upload pictures of your Audit Team doing the survey</strong><br>
                Please upload all supporting documents related to this section here. Note: files must be in one of the following formats: PDF Document (.pdf), Word Document (.doc, .docx), Image File (.jpg, .jpeg). File size per document should not exceed 500 KB.
              <input ng-model="food.Q11F1S1" type="file" >
            </div>


           


            <div class="list card">
                <!--||questionfood.id==numberOfQuestions-1-->
                <div class="button-bar">

                    <a class="button background-color text-white" ng-hide="question.id==numberOfQuestions-1" ion-chevron-right nav-clear ng-click="quiz2()">NEXT</a>
                    <!-- ng-click="quiz2()" -->
                    <!--  <a class="button background-color text-white" ng-show="question.id>=numberOfQuestions-1" ion-chevron-right nav-clear href="#/tab/results">COMPLETE</a> -->
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>