
<ion-view >
  <ion-content>
    <ion-list class="">
    <!-- category-->
    <div class="home-height2">


      <!-- ///////////////////// -->
      <div class="list1 txt-align ">
       <!-- <span class="fs-12">GREEN SCHOOL </span> <br/>
       PROGRAMME -->

      <!-- <div class=" txt-align" on-hold="onHold(2)"> -->
      <img src="img/profile.png" height="13%" width="13%"><br>
      PROFILE
      <!-- </div> -->

      </div>

       <div class="row " style="border-bottom: 1px solid #DBDAD9  ">
      <div class="col right-border" on-hold="onHold(1)" ng-click="general()">
      <img src="img/general@3x.png" height="55%" width="40%"><br/>
      1. GENERAL
      </div>

      <div class="col  txt-align" on-hold="onHold(3)" ng-click="air()">
      <img src="img/air@3x.png" height="55%" width="40%"><br/>
     2. AIR
      </div>


      </div>

      <div class="row " style="border-bottom: 1px solid #DBDAD9  ">


      <div class="col txt-align right-border" on-hold="onHold(4)" ng-click="energy()"><br/>
       <img src="img/energy@3x.png" height="50%" width="40%"><br/>
      3. ENERGY
      </div>
       <div class="col  txt-align" on-hold="onHold(5)" ng-click="food()"><br/>
       <img src="img/food@3x.png" height="50%" width="40%"><br/>
      4. FOOD
      </div>



      </div>


       <div class="row " style="border-bottom: 1px solid #DBDAD9  ">

      <div class="col right-border" on-hold="onHold(7)" ng-click="water()"><br/>
       <img src="img/water@3x.png" height="50%" width="40%"><br/>
      5. WATER
      </div>
        <div class="col txt-align" on-hold="onHold(6)" ng-click="land()"><br/ >
       <img src="img/land@3x.png" height="50%" width="40%"><br/>
      6. LAND
      </div>

      <br>
      </div>

       <div class="row " >
      <div class="col txt-align right-border" on-hold="onHold(8)" ng-click="waste()"><br/>
       <img src="img/waste@3x.png" height="50%" width="40%"><br/>
      7. WASTE
      </div>
      <div class="col txt-align" on-hold="onHold(9)" ng-click="feedback()"><br/>
      <img src="img/feedback@3x.png" height="50%" width="40%"><br/>
      8. FEEDBACK <br/>
      </div>
      </div>


      <!-- //////////////////////////// -->
       <!-- <div class="list txt-align "> -->
       <!-- <span class="fs-12">GREEN SCHOOL </span> <br/>
       PROGRAMME -->

       <!-- <img src="img/logogsp.png" height="25%" width="25%">
       </div> -->

      </div>

    </ion-list>
  </ion-content>
</ion-view>
