<ion-view title="Land">

    <ion-content scroll="false">

        <div class="button-bar">
            <a class="button background-color text-white" ion-chevron-right
               nav-clear ng-click="openModal()">
                Watch Video Tutorial <img align="right" src="img/green-school-video-icon.png"
                                          style="width : auto ; height : auto" ng-click="openModal()">
            </a>
        </div>

        <div class="row" style="padding-top: 0px;padding-bottom: 0px">
            <progress id="progressbar" max="100" value="62.5" class="progress"></progress>
        </div>

        <ion-scroll direction="y" class="theroot">
            <div class="padding-bottom content" style="text-align: justify;">The GSP audit helps the school community
                draw up a roadmap for sustainable use of its land.
                The unit of measurement to be used in the Land section is Square Meter (m2).
            </div>

            <div class="list" style="margin-left: 5px;margin-right: 5px">
                <strong>Task 1: Choose your Land Audit Team</strong><br>
                Your school gardener is certainly the best person to be a part of your audit team. Make sure your
                biology or geography teacher joins your team. Just like all other teams, five to 10 of your committed
                and interested schoolmates would make a strong team. Try and involve some students of the photography or
                painting clubs of your school.

            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    Teachers (maximum of three teachers can be part of the team):
                </div>
                <div class="row ">
                    <div class="col col-10"></div>
                    <div class="col">Name</div>
                    <div class="col"> Email id</div>
                </div>

                <div class="row ">
                    <div class="col col-10">1</div>
                    <div class="col">
                        <input ng-model="land.Q1L1S1" name="oneName" class="textbox"
                               style="border:1px solid #111;text-align: center;" type="text" id="landoneName">
                    </div>
                    <div class="col">
                        <input ng-model="land.Q1L1S2" class="textbox" style="border:1px solid #111;text-align: center;"
                               type="text" id='landoneEmail'>
                    </div>
                </div>

                <div class="row ">
                    <div class="col col-10">2</div>
                    <div class="col"><input ng-model="land.Q1L2S1" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"
                                            id='landtwoName'></div>
                    <div class="col"><input ng-model="land.Q1L2S2" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"
                                            id='landtwoEmail'></div>
                </div>


                <div class="row ">
                    <div class="col col-10">3</div>
                    <div class="col"><input ng-model="land.Q1L3S1" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"
                                            id='landthreeName'></div>
                    <div class="col"><input ng-model="land.Q1L3S2" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"
                                            id='landthreeEmail'></div>
                </div>
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    Administrative staff (maximum of five staff can be part of the team):
                </div>

                <div class="row ">
                    <div class="col col-10"></div>
                    <div class="col">Name</div>
                    <div class="col"> Email id</div>
                </div>

                <div class="row ">
                    <div class="col col-10">1</div>
                    <div class="col"><input ng-model="land.Q2L1S1" id='questionlandtwoOneName' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q2L1S1" id='questionlandtwoOneEmail' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col col-10">2</div>
                    <div class="col"><input ng-model="land.Q2L2S1" id='questionlandtwoTwoName' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q2L2S1" id='questionlandtwoTwoEmail' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>


                <div class="row ">
                    <div class="col col-10">3</div>
                    <div class="col"><input ng-model="land.Q2L3S1" id='questionlandtwoThreeName' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q2L3S1" id='questionlandtwoThreeEmail' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col col-10">4</div>
                    <div class="col"><input ng-model="land.Q2L4S1" id='questionlandtwoFourName' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q2L4S1" id='questionlandtwoFourEmail' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col col-10">5</div>
                    <div class="col"><input ng-model="land.Q2L5S1" id='questionlandtwoFiveName' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q2L5S1" id='questionlandtwoFiveEmail' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    Students (maximum of ten students can be part of the team):
                </div>

                <div class="row ">
                    <div class="col col-10"></div>
                    <div class="col">Name</div>
                    <div class="col"> Email id</div>
                    <div class="col"> Grade/Class</div>
                </div>

                <div class="row ">
                    <div class="col col-10">1</div>
                    <div class="col"><input ng-model="land.Q3L1S1" id='questionlandthreeOneName' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L1S1" id='questionlandthreeOneEmail' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L1S1" id='questionlandthreeOneGrade' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col col-10">2</div>
                    <div class="col"><input ng-model="land.Q3L2S1" id='questionlandthreeTwoName' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L2S1" id='questionlandthreeTwoEmail' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L2S1" id='questionlandthreeTwoGrade' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>


                <div class="row ">
                    <div class="col col-10">3</div>
                    <div class="col"><input ng-model="land.Q3L3S1" id='questionlandthreeThreeName' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L3S1" id='questionlandthreeThreeEmail' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L3S1" id='questionlandthreeThreeGrade' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col col-10">4</div>
                    <div class="col"><input ng-model="land.Q3L4S1" id='questionlandthreeFourName' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L4S1" id='questionlandthreeFourEmail' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L4S1" id='questionlandthreeFourGrade' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col col-10">5</div>
                    <div class="col"><input ng-model="land.Q3L4S1" id='questionlandthreeFiveName' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L4S1" id='questionlandthreeFiveEmail' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L4S1" id='questionlandthreeFiveGrade' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col col-10">6</div>
                    <div class="col"><input ng-model="land.Q3L5S1" id='questionlandthreeSixName' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L5S1" id='questionlandthreeSixEmail' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L5S1" id='questionlandthreeSixGrade' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col col-10">7</div>
                    <div class="col"><input ng-model="land.Q3L6S1" id='questionlandthreeSevenName' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L6S1" id='questionlandthreeSevenEmail' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L6S1" id='questionlandthreeSevenGrade' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col col-10">8</div>
                    <div class="col"><input ng-model="land.Q3L7S1" id='questionlandthreeEightName' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L7S1" id='questionlandthreeEightEmail' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L7S1" id='questionlandthreeEightGrade' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col col-10">9</div>
                    <div class="col"><input ng-model="land.Q3L8S1" id='questionlandthreeNineName' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L8S1" id='questionlandthreeNineEmail' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L8S1" id='questionlandthreeNineGrade' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col col-10">10</div>
                    <div class="col"><input ng-model="land.Q3L9S1" id='questionlandthreeTenName' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L9S1" id='questionlandthreeTenEmail' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q3L9S1" id='questionlandthreeTenGrade' class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>
            </div>


            <div class="padding-bottom content fs-16">
                Task 2: Measure the four critical areas of your school campus
            </div>
            <div class="padding-bottom content fs-14">
                To find out the land/ site area of your school, you need to measure:
            </div>
            <div class="content" style="text-align: justify;">
                Ground coverage area <br>
                Open Area (on-ground)<br>
                Service Area (on-ground)<br>
                Service Parking<br>


                1. Site area in square meter:
                Site area refers to the area or exact plot of ground on which anything is, has been, or is to be
                located. ‘Plot’ means a piece of land enclosed by definite boundaries. <br>
                2.Ground Coverage Area:
                The audit team will have to get in touch with the administrative staff in the school office to procure
                the electricity bills.<br>

                3. Green cover or green, landscaped area on-ground: this includes areas covered by grass, trees, lawn or
                horticulture, flower beds, grasscrete paver tiles, etc.<br>
                4. Surface parking area: refers to any parking lots directly on land.<br>

                5. Play area that is paved/ concrete includes all outdoor playfields such as basketball court; skating
                rink; assembly ground; swimming pool, etc.<br>
                6. Play area covered by grass on ground includes tennis grass court, cricket/ football grounds etc.<br>
                7. Service area on ground is any area on ground that is not a permanent structure, but dedicated to
                services such as cooling towers for air conditioning, generators, portable cabins for security guards,
                etc.<br>
                8. Roof and terrace area: A roof is the covering on the uppermost part of a building. A terrace is an
                outdoor, occupiable extension of a building above ground level.<br>
                9. Green cover on terrace/ balconies includes terrace garden, but not potted plants.<br>
                10. Total built up/ constructed area refers to the total areas of all floors of the building, including
                ground floors of built-up spaces, which include classrooms, labs, staff rooms, office area, auditoria,
                corridors, as well as balconies and terraces, multiplied by the number of floors.<br>
                Others will include paved paths, and other open area that your school has, but not covered in the above
                list.<br>
                To collect data: The total constructed area can be sourced from the building construction plan of the
                school, which will be available in the school office. Or else, measure the constructed spaces and use
                the formula for calculating the areas of various shapes, such as a square or rectangle, to derive the
                data and add them all.

            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    1. Total Green Cover
                </div>

                <div class="row ">
                    <div class="col">Description</div>
                    <div class="col">Your school's area (m2)</div>
                </div>

                <div class="row ">

                    <div class="col">Site area in square meter (m2)</div>
                    <div class="col"><input ng-model="land.Q4L1" id="questionlandfourOneArea" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">

                    <div class="col">Ground coverage area</div>
                    <div class="col"><input ng-model="land.Q4L2" id="questionlandfourTwoArea" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>


                <div class="row ">

                    <div class="col">Green landscaped area on-ground</div>
                    <div class="col"><input ng-model="land.Q4L3" id="questionlandfourThreeArea" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">

                    <div class="col">Surface parking area</div>
                    <div class="col"><input ng-model="land.Q4L4" id="questionlandfourFourArea" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col">Play area that is paved/ concrete on ground</div>
                    <div class="col"><input ng-model="land.Q4L5" id="questionlandfourFiveArea" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col">Play area that has grass on ground</div>
                    <div class="col"><input ng-model="land.Q4L6" id="questionlandfourSixArea" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col">Service Area on ground</div>
                    <div class="col"><input ng-model="land.Q4L7" id="questionlandfourSevenArea" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col">Roof and terrace area</div>
                    <div class="col"><input ng-model="land.Q4L8" id="questionlandfourEightArea" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col">Green cover on exposed roof & terrace</div>
                    <div class="col"><input ng-model="land.Q4L9" id="questionlandfourNineArea" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col">Total built up/constructed area</div>
                    <div class="col"><input ng-model="land.Q4L10" id="questionlandfourTenArea" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col">Total no. of floors</div>
                    <div class="col"><input ng-model="land.Q4L11" id="questionlandfourElevenArea" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>

                <div class="row ">
                    <div class="col">Others</div>
                    <div class="col"><input ng-model="land.Q4L12" id="questionlandfourTwelveArea" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>
            </div>


            <div class="padding-bottom content fs-16">
                Task 3: Explore the number of species of plants and animals in your school
            </div>
            <div class="content" style="text-align: justify;">
                This task will help you to understand the number and variety of plants and animals that your school
                campus supports. Identify and count the various species of plants and animals in your school.

                <p class="fs-16"> To collect data:</p>
                Make two teams of students. One for plant species and the other for animal species. Get the school
                gardener and the biology teacher to accompany them. Count plant species and animal species that are
                visible to the naked eye.<br>
                Native (definition): a species that occurs naturally within a region, either evolving there or arriving
                and becoming established without human assistance<br>
                Exotic (definition): An exotic plant or animal, which is invasive, is a species that meets the following
                conditions:<br>
                1. Originate outside the local area.<br>
                2. Have the potential to spread long distances on its own.<br>
                3. Once established, have the potential to out-compete native species in the wild.<br>
            </div>


            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    2. How many species of plants and animals exist in your school?
                </div>

                <div class="row ">
                    <div class="col"></div>
                    <div class="col">Native</div>
                    <div class="col"> Exotic</div>
                    <div class="col"> Total</div>
                </div>

                <div class="row ">
                    <div class="col">Plants</div>
                    <div class="col"><input ng-model="land.Q5L1S1" id="questionlandfiveOneNative" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q5L1S2" id="questionlandfiveOneExotic" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q5L1S3" id="questionlandfiveOneTotal" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"
                                            readonly="true"></div>
                </div>

                <div class="row ">
                    <div class="col">Animals</div>
                    <div class="col"><input ng-model="land.Q5L2S1" id="questionlandfiveTwoNative" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q5L2S2" id="questionlandfiveTwoExotic" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="land.Q5L2S3" id="questionlandfiveTwoTotal" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"
                                            readonly="true"></div>
                </div>
            </div>


            <div class="padding-bottom content fs-16">
                Task 4: Find out if your school uses pesticides
            </div>
            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    3 Do you use chemical-based pesticides in your school green cover?
                </div>
                <div class="row " style="padding-left: 20px">

                    <div class="col fs-12">
                        <input ng-model="land.Q6L1" id="questionlandsix" type="radio" ng-value="'Y'"
                               name="b">&nbsp;<span style="position:absolute"> Yes</span>
                    </div>
                    <div class="col fs-12">
                        <input ng-model="land.Q6L1" id="questionlandsix" type="radio" ng-value="'N'"
                               name="b">&nbsp;<span style="position:absolute">No</span>
                    </div>

                </div>
            </div>
            <div class="list" style="margin-left: 5px;margin-right: 5px">
                <strong>Upload supporting documents</strong><br>
                Please upload the following supporting documents:<br>
                Pictures of green cover<br>
                Pictures of landscaped area<br>
                Building construction plan<br>
                Uploaded files must be in one of the following formats: PDF Document (.pdf), Word Document (.doc,
                .docx), Image File (.jpg, .jpeg). File size per document should not exceed 500 KB.
                <input ng-model="land" type="file" id="questionlandseven">
            </div>


            <div class="list card">
                <!--||question.id==numberOfQuestions-1-->
                <div class="button-bar">

                    <a class="button background-color text-white" ng-hide="question.id==numberOfQuestions-1"
                       ion-chevron-right nav-clear ng-click="quiz2(land)">NEXT</a>
                    <!-- ng-click="quiz2()" -->
                    <!--  <a class="button background-color text-white" ng-show="question.id>=numberOfQuestions-1" ion-chevron-right nav-clear href="#/tab/results">COMPLETE</a> -->
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>
