<ion-view title="Waste">
    <script type="text/javascript">
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            return !(charCode > 31 && (charCode < 48 || charCode > 57));
        }
        function isDecimalNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            return !(charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57));
        }
    </script>

    <ion-content scroll="false">

        <div class="button-bar">
            <a class="button background-color text-white" ion-chevron-right
               nav-clear ng-click="openModal()">
                Watch Video Tutorial <img align="right" src="img/green-school-video-icon.png"
                                          style="width : auto ; height : auto" ng-click="openModal()">
            </a>
        </div>

        <div class="row" style="padding-top: 0px;padding-bottom: 0px">
            <progress id="progressbar" max="100" value="{{ progress }}" class="progress"></progress>
        </div>
        <p style="text-align: center">Progress: {{ progress }}% </p>

        <ion-scroll direction="y" class="theroot">

            <div class="padding-bottom content" style="text-align: justify;">
                    Schools can
                    <span ng-show="!readMore[1]">...</span>
                    <span ng-show="readMore[1]">
                        provide excellent educational opportunities for creating awareness
                        about waste and its management.
                    </span>
                    <ul class="water-list" ng-show="readMore[1]">
                        <li>
                            Waste reduction initiatives save natural resources,
                            energy and landfill space.
                        </li>
                        <li>
                            Reducing, reusing, recycling waste material will improve the economic and
                            environmental performance of the school.
                        </li>
                        <li>
                            The school&#39;s waste management programme has the potential to transform
                            the school environment into a laboratory for learning.
                        </li>
                        <li>
                            It also provides numerous opportunities for the students to understand this
                            issue and its implications on the local environment.
                        </li>
                    </ul>
                    <a ng-click="toggleReadMore(1)">
                        <span ng-show="!readMore[1]">Read More</span>
                        <span ng-show="readMore[1]">Read Less</span>
                    </a>
                <br/>
                <br/>

                <strong>Unit of measurement should remain constant: Kilogram (kg).</strong>
            </div>

            <div class="padding-bottom content fs-16">
                <strong>Task 1: Choose your Waste Audit Team.</strong>
            </div>

            <div class="content" style="text-align: justify;">
                <div>
                    The housekeeping
                    <span ng-show="!readMore[2]">...</span>
                    <span ng-show="readMore[2]">
                        and cleaning staff of your school shall
                        be the core members of your team, as you will have to
                        enlist their help at every task. A teacher with interest
                        in waste and five to 10 students will be ideal for your
                        team. Administrative staff is important as they will
                        provide the permissions required for the housekeeping
                        staff to work with you.
                    </span>
                    <a ng-click="toggleReadMore(2)">
                        <span ng-show="!readMore[2]">Read More</span>
                        <span ng-show="readMore[2]">Read Less</span>
                    </a>
                </div>

            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    Teachers (maximum of three teachers can be part of the team):
                </div>
                <span class="validation-error" ng-hide="validateTeacher('Wa')">
                    Please enter details of at least 1 teacher
                </span>

                <div class="row ">
                    <div class="col col-10"></div>
                    <div class="col">First Name</div>
                    <div class="col">Last Name</div>
                    <div class="col">Email ID</div>
                </div>

                <div class="row" ng-repeat="i in [1, 2, 3]">
                    <div class="col col-10">{{ i }}</div>
                    <div class="col">
                        <input ng-model="waste['Q1Wa' + i + 'S1']" class="textbox"
                               style="border:1px solid #111;text-align: center;" type="text">
                    </div>
                    <div class="col">
                        <input ng-model="waste['Q1Wa' + i + 'S3']" class="textbox"
                               style="border:1px solid #111;text-align: center;"
                               type="text">
                    </div>
                    <div class="col">
                        <input ng-model="waste['Q1Wa' + i + 'S2']" class="textbox" style="border:1px solid #111;text-align: center;"
                               type="email">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    Administrative staff (maximum of five staff can be part of the team):
                </div>

                <div class="row ">
                    <div class="col col-10"></div>
                    <div class="col">First Name</div>
                    <div class="col">Last Name</div>
                    <div class="col"> Email ID</div>
                </div>

                <div class="row" ng-repeat="i in [1, 2, 3, 4, 5]">
                    <div class="col col-10">{{ i }}</div>
                    <div class="col"><input ng-model="waste['Q2Wa' + i + 'S1']" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="waste['Q2Wa' + i + 'S3']" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="waste['Q2Wa' + i + 'S2']" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="email"></div>
                </div>
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    Students (maximum of ten students can be part of the team):
                </div>
                <span class="validation-error" ng-hide="validateStudent('Wa')">
                    Please enter details of at least 1 student.
                </span>
                <div class="row ">
                    <div class="col col-10"></div>
                    <div class="col">First Name</div>
                    <div class="col">Last Name</div>
                    <div class="col">Grade</div>
                </div>

                <div class="row" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                    <div class="col col-10">{{ i }}</div>
                    <div class="col"><input ng-model="waste['Q3Wa' + i + 'S1']" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="waste['Q3Wa' + i + 'S2']" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                    <div class="col"><input ng-model="waste['Q3Wa' + i + 'S3']" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="text"></div>
                </div>
            </div>

            <div class="padding-bottom content fs-16">
                <strong>Task 2: What is the waste segregation system in your school?</strong>
            </div>

            <div class="content" style="text-align: justify;">
                <div>
                    Segregation means
                    <span ng-show="!readMore[3]">...</span>
                    <span ng-show="readMore[3]">
                        sorting. Let’s understand the waste
                        segregation system because the amount of waste recycled
                        or reused will depend on the method of collection. To
                        understand the waste segregation system of your school,
                        fill the table below. <br/>
                        <b>To collect data:</b> Students will
                        have to survey the waste collection area and talk to
                        the house-keeping staff to know whether waste is
                        segregated in the school and in what quantity.
                    </span>
                    <a ng-click="toggleReadMore(3)">
                        <span ng-show="!readMore[3]">Read More</span>
                        <span ng-show="readMore[3]">Read Less</span>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    1. Does your school segregate solid waste?
                </div>
                <div class="row " style="padding-left: 20px">
                    <div class="col fs-12" ng-repeat="i in [1, 2]">
                        <input ng-model="waste.Q4Wa1" ng-value="data.yesNo[i][0]" type="radio" name="a">&nbsp;<span
                            style="position:absolute">{{ data.yesNo[i][1] }}</span>
                    </div>
                </div>

            </div>

            <div class="card" ng-show="waste.Q4Wa1 == 'Y'">
                <div class="item item-text-wrap item-borderless">
                    1(a) Who segregates the waste at source?
                </div>
                <ion-item class="fs-14 item-text-wrap" ng-repeat="i in [1, 2, 3, 4, 5]">
                    <input ng-model="waste['Q4Wa2S' + i]" type="checkbox" name="a{{ i }}"><span
                        style="position:absolute">&nbsp;{{ data.whoSegregates[i] }}</span>
                </ion-item>
                <div class="row" ng-show="waste.Q4Wa2S5">
                    <div class="col col-20">
                        Please specify
                    </div>
                    <div class="col">
                        <input ng-model="waste['Q4Wa2S6']" class="textbox"
                               style="border:1px solid #111;text-align: center;"
                               type="text">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    2. How many categories does your school segregate waste into
                    <span class="badge" on-hold="showToolTip('Q2')">?</span>
                </div>
                <div class="row" ng-repeat="i in [1, 2, 3]">
                    <div class="col col-10">
                        <input ng-model="waste.Q4Wa2" ng-value="i" type="radio" name="ab">
                    </div>
                    <div class="col">
                        {{ data.categoriesSegregated[i] }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="item item-text-wrap item-borderless">
                    2(a) How many categories does your school segregate waste into?
                </div>

                <div class="row">
                    <div class="col col-20"><b>No. of waste collection points with no bin</b></div>
                    <div class="col"><b>No. of waste collection points with one bin(mixed waste)</b></div>
                    <div class="col"><b>No. of waste collection points with one bin(for only dry waste)</b></div>
                    <div class="col"><b>No. of waste collection points with two bins(wet & dry)</b></div>
                    <div class="col"><b>No. of waste collection points with three bins or more</b></div>
                    <div class="col"><b>Total no. of waste collection points</b></div>
                </div>

                <div class="row" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                    <div class="col col-20">
                        {{ data.wasteCollectionPoints[i] }}
                        <span ng-show="i == 3" class="badge" on-hold="showToolTip('Q5W3')">?</span>
                    </div>
                    <div class="col"><input ng-model="waste['Q5Wa' + i + 'S1']" class="textbox"
                                            ng-change="updateQ5(i, 1)"
                                            style="border:1px solid #111;text-align: center;" type="number" string-to-number
                                            onkeypress="return isNumberKey(event);">
                    </div>
                    <div class="col"><input ng-model="waste['Q5Wa' + i + 'S2']" class="textbox"
                                            ng-change="updateQ5(i, 2)"
                                            style="border:1px solid #111;text-align: center;" type="number" string-to-number
                                            onkeypress="return isNumberKey(event);">
                    </div>
                    <div class="col"><input ng-model="waste['Q5Wa' + i + 'S3']" class="textbox"
                                            ng-change="updateQ5(i, 3)"
                                            style="border:1px solid #111;text-align: center;" type="number" string-to-number
                                            onkeypress="return isNumberKey(event);">
                    </div>
                    <div class="col"><input ng-model="waste['Q5Wa' + i + 'S4']" class="textbox"
                                            ng-change="updateQ5(i, 4)"
                                            style="border:1px solid #111;text-align: center;" type="number" string-to-number
                                            onkeypress="return isNumberKey(event);">
                    </div>
                    <div class="col"><input ng-model="waste['Q5Wa' + i + 'S5']" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number"
                                            readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-20">Total</div>
                    <div class="col"><input ng-model="waste['Q5Wa11S1']" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number" string-to-number
                                            readonly>
                    </div>
                    <div class="col"><input ng-model="waste['Q5Wa11S2']" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number" string-to-number
                                            readonly>
                    </div>
                    <div class="col"><input ng-model="waste['Q5Wa11S3']" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number" string-to-number
                                            readonly>
                    </div>
                    <div class="col"><input ng-model="waste['Q5Wa11S4']" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number" string-to-number
                                            readonly>
                    </div>
                    <div class="col"><input ng-model="waste['Q5Wa11S5']" class="textbox"
                                            style="border:1px solid #111;text-align: center;" type="number"
                                            readonly>
                    </div>
                </div>

                <div style="padding-left: 20px">
                    <b>Please upload supporting documents:</b>
                    <span>
                        Uploaded files must be in one of the following formats: PDF Document (.pdf),
                        Word Document (.doc, .docx), Image File (.jpg, .jpeg). File size per document
                        should not exceed 500 KB.
                    </span>
                    <label class="col">Picture of dustbins in classroom showing segregation at source</label>
                    <input class="col" type="file" fileread="waste.Q5WaFL1">
                    <label class="col" for="puc">Picture of playground with more than two dustbins</label>
                    <input class="col" name="puc" type="file" fileread="waste.Q5WaFL2">
                </div>

            </div>

            <div class="list card">
                <div class="button-bar">
                    <a class="button background-color text-white"
                       ion-chevron-right nav-clear ng-click="goToPrev()">PREV</a>
                    &nbsp;
                    <a class="button background-color text-white" ng-disabled="!validNext()"
                       ion-chevron-right nav-clear ng-click="quiz2(waste)">NEXT</a>
                    &nbsp;
                    <a class="button background-color text-white"
                       ion-chevron-right nav-clear ng-click="saveData()">SAVE</a>
                </div>
            </div>

        </ion-scroll>
    </ion-content>
</ion-view>
